* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2A242D;
}
h1 {
  color: rgb(193, 179, 179);
  text-shadow: 1px 1px 5px;
  text-align: center;
  margin: 50px 0;
}
.container {
  width: 590px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
  gap: 10px
}

.paper-img {
  height: 160px;
  width: 130px;
  opacity: .8;
  transition: .3s;
}
.paper-img:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}
.rock-img {
  height: 130px;
  opacity: .8;
  transition: .3s;
}
.rock-img:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}
.scissors-img {
  height: 170px;
  width: 120px;
  opacity: .8;
  transition: .3s;
}
.scissors-img:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}

.result {
  margin-left: 20px;
  display: flex;
  gap: 10px;
  font-size: 20px;
  color:rgb(193, 179, 179);
  position: relative;
}
.player-score {
  margin-right: 30px;
}
.computer-score {
  margin-right: 20px;
}
